<div class="nc-widgets">
  <header class="nc-widgets__header">
    <a href="#" class="nc-link nc-link_text-header">Москва</a>
    <span class="nc-widgets__header-text">воскресенье, 30 июля, 21:59</span>
  </header>
  <div class="nc-widgets__container">
    <div class="nc-widget-block">
      <header class="nc-widget-block__header">
        <a href="#" class="nc-link">Погода</a>
      </header>
      <div class="nc-widget-block__content">
        <img src="/src/images/weather.png" alt="logo" class="nc-widget-block__image_weather"/>
        <a href="#" class="nc-link nc-link_text-link">
                                        <span class="nc-widget-block__text">
                                            <b>+19</b>, ночью +17
                                        </span>
          <span class="nc-widget-block__text nc-widget-block__text_break">завтра +25</span>
        </a>
      </div>
      <footer class="nc-widget-block__footer">
        <a href="#" class="nc-link">ТВ программа</a>
      </footer>
    </div>
    <div class="nc-widget-block">
      <header class="nc-widget-block__header">
        <a href="#" class="nc-link">Торги ММВБ</a>
      </header>
      <div class="nc-widget-block__content nc-widget-block__content_currency">
        <div class="nc-widget-block__text">
          <span class="nc-widget-block__text">$</span>
          <a href="" class="nc-link nc-link_text-link">59.55</a>
          <span class="nc-widget-block__text">+0.05</span>
        </div>
        <div class="nc-widget-block__text">
          <span class="nc-widget-block__text">€</span>
          <a href="" class="nc-link nc-link_text-link">70.00</a>
          <span class="nc-widget-block__text">+0.50</span>
        </div>
      </div>
      <footer class="nc-widget-block__footer">
        <a href="#" class="nc-link">
          <span class="nc-widget-block__text">Нефть</span>
        </a>
        <a href="#" class="nc-link nc-link_text-link">
          <span class="nc-widget-block__text">52.61</span>
        </a>
        <span class="nc-widget-block__text">+0.99</span>
      </footer>
    </div>
    <div class="nc-widget-block">
      <header class="nc-widget-block__header">
        <a href="#" class="nc-link">Гороскопы</a>
      </header>
      <div class="nc-widget-block__content">
        <img src="https://limg.imgsmail.ru/splash/v/i/capricorn-fp-fbc57a608e.png" alt="logo" class="nc-widget-block__image_horoscope"/>
        <a href="#" class="nc-link nc-link_text-link">
          <span class="nc-widget-block__text">Козерог — день едва ли принесет какие-то серьезные</span>
        </a>
      </div>
      <footer class="nc-widget-block__footer">
        <a href="#" class="nc-link">Штрафы ГИБДД</a>
      </footer>
    </div>
  </div>
</div>
