<div class="nc-widget-main">
  <nav class="nc-widget-main__menu">
    <button class="nc-button nc-button_widget">Новости</button>
    <button class="nc-button nc-button_widget">Москва</button>
    <button class="nc-button nc-button_widget">Спорт</button>
    <button class="nc-button nc-button_widget">Авто</button>
    <button class="nc-button nc-button_widget">Кино</button>
    <button class="nc-button nc-button_widget nc-button_widget-hide">Леди</button>
    <button class="nc-button nc-button_widget nc-button_widget-hide">Игры</button>
    <button class="nc-button nc-button_widget nc-button_widget-hide">Hi-tech</button>
  </nav>
  <div class="nc-widget-main__header">
    <img src="https://r.mradx.net/pictures/F6/506083.jpg" class="nc-widget-main__header-img" width="112" height="63" alt="img">
    <div class="nc-widget-main__header-text">
      <a href="#" class="nc-link">Путин рассказал, сколько американских дипломатов покинет Россию</a>
      <div class="nc-widget-main__header-text-under">
        <a href="#" class="nc-link nc-link_text-link">Сейчас в американских диппредставительствах в стране работают более тысячи сотрудников</a>
      </div>
    </div>
  </div>
  <div class="nc-widget-main__subtitles">
    <ul class="nc-widget-main__subtitles-list">
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">Рогозин заявил об отказе румынского министра лететь через Москву</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">Корреспондент RT погиб при ракетном обстреле ИГ в Сирии</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">В России отменили бесплатный багаж для невозвратных авиабилетов</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">Авиация коалиции во главе с США нанесла удар по больнице в Сирии</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">США испытали систему противоракетной обороны THAAD на Аляске</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link">Путин подписал закон о введении курортного сбора</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link nc-link_text-underemphasize">Леди</a>
        <a href="#" class="nc-link">16-летняя внучка Ротару поразила всех своей красотой (фото)</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link nc-link_text-underemphasize">Авто</a>
        <a href="#" class="nc-link">Видеоролик школьника о разбитых дорогах обернулся скандалом</a>
      </li>
      <li class="nc-widget-main__subtitles-item">
        <a href="#" class="nc-link nc-link_text-underemphasize">Hi-Tech</a>
        <a href="#" class="nc-link">Пять гаджетов, которые заменят спиннеры</a>
      </li>
    </ul>
  </div>
</div>
