<div class="nc-games">
  <header class="nc-games__header">
    <a href="#" class="nc-link nc-link_text-header">Игры</a>
  </header>
  <div class="nc-games__container">
    <div class="nc-games__item">
      <a href="#" class="nc-link">
        <img src="/src/images/game-tanks.jpg" alt="game" class="nc-games__image"/>
        <div class="nc-games__text">Проект Армата</div>
      </a>
      <div class="nc-games__related">
          <span class="nc-games__text">
            <a href="#" class="nc-link">Клиентские</a>
            <span class="nc-games__text">13</span>
          </span>
        <span class="nc-games__text nc-games__text_break">
            <a href="#" class="nc-link">Мини-игры</a>
            <span class="nc-games__text">28</span>
          </span>
      </div>
    </div>
    <div class="nc-games__item">
      <a href="#" class="nc-link">
        <img src="/src/images/game-shooter.jpg" alt="game" class="nc-games__image"/>
        <div class="nc-games__text">Warface</div>
      </a>
      <div class="nc-games__related">
          <span class="nc-games__text">
            <a href="#" class="nc-link">Браузерные</a>
            <span class="nc-games__text">30</span>
          </span>
        <span class="nc-games__text nc-games__text_break">
            <a href="#" class="nc-link">Популярные</a>
            <span class="nc-games__text">24</span>
          </span>
      </div>
    </div>
  </div>
</div>
