.widget__content {
  padding-left: 0;
  margin: 0 auto auto 0;
}

.widget__list-item {
  padding-bottom: 5px;
  list-style-type: none;
}

.widget__link {
  color: #000;
  text-decoration: none;
}

.widget__link:hover {
  color: red;
}

.widget__link_header {
  color: #0054b9;
  font-size: large;
  text-decoration: none;
}

.widget__link_header:hover {
  color: red;
}
