<div class="nc-search">
  <nav class="nc-search__menu">
    <span class="nc-search__menu-item">
      <a href="#" class="nc-link nc-link_text-header">Поиск в интернете</a>
    </span>
    <span
      class="nc-search__menu-item">
      <a href="#" class="nc-link">Картинки</a>
    </span>
    <span class="nc-search__menu-item">
      <a href="#" class="nc-link">Видео</a>
    </span>
    <span class="nc-search__menu-item">
      <a href="#" class="nc-link">Приложения</a>
    </span>
    <span class="nc-search__menu-item">
      <a href="#" class="nc-link">Ответы</a>
    </span>
  </nav>
  <div class="nc-search__form">
    <input title="search" type="text" class="nc-search__input">
    <button class="nc-button nc-button_search">Найти</button>
  </div>
</div>
