<div class="nc-products">
  <ul class="nc-products-list">
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <i class="nc-sprite-icon nc-sprite-icon_icq"></i>
        <span class="nc-link nc-link_text-header">ICQ</span>
      </a>
      <a href="#" class="nc-link">
        <span class="nc-link nc-link_text-underemphasize">Бесплатные видеозвонки</span>
      </a>
    </li>
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <i class="nc-sprite-icon nc-sprite-icon_my-world"></i>
        <span class="nc-link nc-link_text-header">Мой мир</span>
      </a>
      <div class="nc-products-list__wrapper">
        <div class="nc-link nc-link_text-underemphasize">Популярные фото:</div>
        <div class="nc-products-list__image-container">
          <img src="https://r.mradx.net/pictures/67/31C9AD.jpg" alt="img" class="nc-products-list__image">
          <img src="https://r.mradx.net/pictures/0C/E52958.jpg" alt="img" class="nc-products-list__image">
          <img src="https://r.mradx.net/pictures/95/6B7BF0.jpg" alt="img" class="nc-products-list__image">
          <img src="https://r.mradx.net/pictures/FB/7951B2.jpg" alt="img" class="nc-products-list__image nc-products-list__image_hide">
        </div>
      </div>
    </li>
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <i class="nc-sprite-icon nc-sprite-icon_classmates"></i>
        <span class="nc-link nc-link_text-header">Одноклассники</span>
      </a>
      <a href="#" class="nc-link">
        <div class="nc-products-list__wrapper">
          <div class="nc-link nc-link_text-underemphasize">
            подарки на любой вкус
            <img src="https://r.mradx.net/img/25/7B06B3.png" alt="logo" class="nc-icon nc-icon_classmates">
          </div>
        </div>
      </a>
    </li>
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <img src="https://r.mradx.net/img/34/7471EA.png" alt="logo" class="nc-icon nc-icon_ula">
        <span class="nc-link nc-link_text-header">Юла</span>
      </a>
      <div class="nc-products-list__wrapper">
        <a href="#" class="nc-link">
          <div class="nc-link nc-link_text-underemphasize">
            Бесплатные объявления
          </div>
        </a>
      </div>
    </li>
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <img src="https://r.mradx.net/img/F7/740397.png" alt="logo" class="nc-icon nc-icon_browser">
        <span class="nc-link nc-link_text-header">Браузер</span>
      </a>
      <a href="#" class="nc-link">
          <span class="nc-link nc-link_text-underemphasize">
            ваш защитник
            <img src="https://r.mradx.net/img/4E/925C46.png" alt="logo" class="nc-icon nc-icon_classmates">
          </span>
      </a>
    </li>
    <li class="nc-products-list__item">
      <a href="#" class="nc-link">
        <i class="nc-sprite-icon nc-sprite-icon_goods"></i>
        <span class="nc-link nc-link_text-header">Товары</span>
      </a>
      <a href="#" class="nc-link">
          <span class="nc-link nc-link_text-underemphasize">
            — популярные умные часы
          </span>
      </a>
    </li>
  </ul>
</div>
