@import "../../styles/css/nc-link.css";

ul, li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.nc-products-list__item {
  margin: 2% 0 3% 3%;
}

.nc-products-list__wrapper {
  margin-left: 26px;
}

.nc-products-list__image {
  width: 60px;
  height: 60px;
}
